backend: pgf

pgf.texsystem: pdflatex
pgf.rcfonts: False
pgf.preamble: \usepackage[utf8]{inputenc}\DeclareUnicodeCharacter{2212}{-}

font.family: serif

ytick.major.pad: 0

lines.linewidth: 1
lines.markersize: 4

savefig.bbox: tight
savefig.pad_inches: 0.02

text.usetex: True
